:root {
  --padding: 16px;
  --color: whitesmoke;
  --primary-color: rgb(64, 24, 102);
  --default-font-family: monospace;
}

.hero {
  max-width: 100%;
  background-color: var(--primary-color);
  color: var(--color);
  text-decoration: none;
  padding: var(--padding);
  font-family: "Playfair", serif;
  margin: 0px auto;
}

nav {
  padding: 12px;
}

.nav-links {
  display: inline-flex;
  padding: 3px;
}

.links {
  display: inline;
  padding: 7px;
  text-align: center;
  font-size: 25px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
}
.menu-toggle .bar {
  width: 50px;
  height: 5px;
  margin: 3px 0;
  background-color: var(--color);
}

.color {
  max-width: 100%;
  background-color: rgb(213, 175, 218);
}

a {
  color: var(--color);
  text-decoration: none;
  font-family: var(--default-font-family);
}

li {
  list-style: none;
  font-family: var(--default-font-family);
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair", serif;
  text-align: center;
  font-weight: 700;
}

p,
summary {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
}

button {
  display: block;
  margin: 0 auto;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--primary-color);
}

footer {
  font-family: "Playfair", serif;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.text {
  padding: 12px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

textarea {
  padding: 12px;
  width: 750px;
  min-height: 400px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.contact-me {
  margin: 0px auto;
  display: block;
  max-width: 450px;
}

@media (max-width: 750px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0px;
    background-color: var(--primary-color);
  }

  .nav-links .links {
    text-align: center;
  }

  .active {
    display: flex;
  }

  .text {
    max-width: 250px;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
  }

  textarea {
    padding: 12px;
    width: 500px;
    min-height: 400px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .col-4,
  .col-6 {
    width: 500px;
    padding-bottom: 50px;
  }

  h4 {
    text-decoration: underline;
  }
}
