:root {
  --padding: 16px;
  --color: whitesmoke;
  --primary-color: rgb(64, 24, 102);
  --default-font-family: monospace;
}

.hero {
  max-width: 100%;
  background-color: var(--primary-color);
  color: var(--color);
  text-decoration: none;
  padding: var(--padding);
  font-family: "Playfair", serif;
  margin: 0px auto;
}

.color {
  max-width: 100%;
  background-color: rgb(213, 175, 218);
}

a {
  color: var(--color);
  text-decoration: none;
  font-family: var(--default-font-family);
}

li {
  list-style: none;
  font-family: var(--default-font-family);
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair", serif;
  text-align: center;
  font-weight: 700;
}

p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
}

button {
  display: block;
  margin: 0 auto;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--primary-color);
}

footer {
  font-family: "Playfair", serif;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 550px) {
  .col-4,
  .col-6 {
    width: 500px;
    padding-bottom: 50px;
  }

  h4 {
    text-decoration: underline;
  }
}

.justify {
  display: flexbox;
  justify-content: center;
}
